.content {
    max-width: 800px;
    margin: auto;
    padding: 24px 8px;
    padding-bottom: 50px;
}

.search {
    width: 100%;
    padding: 5px 8px;
}

.title {
    text-align: center;
}

.check {
    width: 15px;
}

.price-header {
    width: 80px;
    text-align: center;
}

.price {
    width: 80px;
    text-align: right;
}

.number {
    width: 60px;
}

.number-input {
    width: 30px;
}

.button-wrap {
    display: flex;
    justify-content: center;
}

.copy-btn {
    background: darkorange;
    color: white;
    font-size: 1rem;
    padding: 8px 24px;
    border: 0;
}

.copy-btn:hover {
    background: rgb(206, 111, 2);
    cursor: pointer;
}

.msg {
    text-align: center;
}
